Django==1.8.8
Django-Select2==4.3.2
Pillow==3.1.0
Unidecode==0.04.18
beautifulsoup4==4.4.1
boto==2.38.0
botocore==1.3.17
-e git+https://github.com/jrutila/cmsplugin-contact-plus.git@3cd2c93a496d00b29185ea3a1a77cdf1b9f683a3#egg=cmsplugin_contact_plus-origin/master
cmsplugin-filer==1.0.0
-e git+https://github.com/jrutila/cmsplugin-iframe.git@aadb21d9fb9c61489217f2f2338ecf6f7331ee14#egg=cmsplugin_iframe-master
-e git+https://github.com/jrutila/cmsplugin-image-gallery.git@9dab462d366392d2459d19931e1dc43c197738fb#egg=cmsplugin_image_gallery-master
cmsplugin-newsplus==0.1.10
-e git+https://github.com/jrutila/cmsplugin-plaintext@59af39514df0e9c23221451d6e0d73f7cef3e830#egg=cmsplugin_plaintext_djangocms3-master
dj-database-url==0.3.0
dj-static==0.0.6
django-admin-jqueryui==1.8.22
django-appconf==1.0.1
django-bootstrap3==6.2.2
django-classy-tags==0.7.0
django-cms==3.2.0
django-filer==1.0.6
django-formtools==1.0
django-inline-ordering==1.0.2
django-mptt==0.8.0
django-polymorphic==0.8.1
django-recaptcha==1.0.5
django-reversion==1.9.3
django-sekizai==0.9.0
-e git+https://github.com/jrutila/django-settings.git@e63e390ed7154bc4f026bf21588b26cbb5159a8b#egg=django_settings-origin/master
django-simple-math-captcha==1.0.7
django-storages-redux==1.3
django-toolbelt==0.0.1
django-treebeard==3.0
djangocms-admin-style==1.0.8
djangocms-link==1.7.1
djangocms-text-ckeditor==2.8.1
docutils==0.12
easy-thumbnails==2.3
gunicorn==19.4.5
html5lib==0.9999999
jmespath==0.9.0
jsonfield==1.0.3
psycopg2==2.6.1
python-dateutil==2.4.2
pytz==2015.7
six==1.10.0
static3==0.6.1
wheel==0.24.0
whitenoise==2.0.6
