{% extends "base.html" %}
{% load settings_tags %}
{% load cms_tags menu_tags %}
{% load bootstrap3 %}
{% load dancing_tags %}

{% block base_content %}
<section class="section-title img-feature" >
    <div class="overlay-bg"></div>
    <div class="container">
        <h1>Ilmoittaudu kilpailuun</h1>
    </div>
</section>

<section class="content-info">
    
{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<section class="container padding-top-mini">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-box">
                <div class="titles">
                    <h4>Ilmoita pareja kisoihin</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                        <p>Voit ilmoittaa kerralla kymmenen paria. Jos haluat ilmoittaa useamman, ole hyvä ja täytä lomake uudellen lähettämisen jälkeen. Parin sähköpostiosoite ei ole pakollinen.</p>
                        <p>Jos paria ei ole listassa, ilmoita heidät sähköpostilla: kilpailut@dancing.fi</p>
                        <p>Varmista, että näet vahvistuksen ilmoittautumisista kisasivulla.</p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if form.errors %}
    <div class="alert alert-danger"><strong>Lomakkeen syötössä oli virheitä! Korjaa virheet. Jos et onnistu lähettämään ilmoittautumista tämän lomakkeen avulla, käytä sähköpostia.</strong></div>
    {% endif %}
    
    {% bootstrap_field form.club %}
    
    {% if form.formset %}
        {% bootstrap_field form.enroller_name %}
        {% bootstrap_field form.enroller_email %}
    
        {% bootstrap_formset form.formset layout="tabular" %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Ilmoita parit
            </button>
        {% endbuttons %}
    {% else %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Valitse seura
            </button>
        {% endbuttons %}
    {% endif %}
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
{% endblock %}
