{% extends "base.html" %}
{% load cms_tags menu_tags dancing_tags %}
{% load bootstrap3 %}

{% block base_content %}
<section class="section-title img-feature" >
    <div class="overlay-bg"></div>
    <div class="container">
        <h1>Tanssitapahtumat</h1>
    </div>
</section>
<section class="content-info">
        <div class="crumbs">
            <div class="container">
                <ul>
                    {% show_breadcrumb %}
                </ul>
            </div>
        </div>
    <section class="container padding-top-mini">
        <div class="row">
            {% regroup events by start.date as event_list %}
            <ul class="events-carousel events-no-carousel">
                {% for date in event_list %}
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="header-post">
                        <div class="date">
                            <span>
                                {{ date.grouper|date:"Y" }}
                            </span>
                                {{ date.grouper|date:"D" }}<br/>{{ date.grouper|date:"j.n." }}
                        </div>
                        <div style="height: 124px; background-color: {{ date.list.0.who|to_color }};"></div>
                        <div class="meta-tag">
                            <ul>
                                <li>
                                    <i class="fa fa-user"></i>
                                    {{ date.list.0.who }}
                                </li>
                                <li class="text-right">
                                    ilm. viim.
                                    {{ date.list.0.deadline|date:"j.n. H:i" }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info-post">
                    <div class="accrodation">
                    {% for e in date.list %}
                        <span class="acc-trigger{% if e.id in mye %} active{% endif %}">
                            <a href="#">
                            {% if e.participations.count %}
                                <i class="fa fa-check-square-o"></i>
                            {% else %}
                                <i class="fa fa-square-o"></i>
                            {% endif %}
                            {{ e.name }}&nbsp;({{ e.cost }}&euro;)&nbsp;{{ e.start|date:"H:i" }}-{{ e.end|date:"H:i" }}
                            </a>
                        </span>
                        <div class="acc-container">
                            <div class="content">
                                <div class="row">
                                {% for p in e.participations.all %}
                                 <span class="col-xs-6 col-sm-12 col-md-6 col-lg-12">
        {% if p.id in myp or request.user.is_staff %}
        {% if not p.created_at|hours_ago:2 or request.user.is_staff %}
        <form action="{% url 'danceclub:dance_participate' e.id %}" method="POST" style="display: inline-block">
            {% csrf_token %}
            <input type="hidden" name="event" value="{{ e.id }}"/>
            <input type="hidden" name="cancel" value="{{ p.member.id }}"/>
            <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
        </form>
        {% endif %}
        {% endif %}
                                     {{ p.member }}
                                </span>
                                {% endfor %}
                                </div>
                                {% if dancer and e.possible %}
                                <div class="row">
                                    
<form action="{% url 'danceclub:dance_participate' e.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="event" value="{{ e.id }}"/>
    {% for d in e.possible %}
        <label class="checkbox-inline">
            <input type="checkbox" checked="checked" name="participant" value="{{ d.id }}" />
        {{ d }}
        </label>
    {% endfor %}
    <button class="btn btn-primary">Ilmoita</button>
</form>
                                </div>
                                {% endif %}

                                {% if not e.participations.count or e.cost_per_participant %}
                                <div class="row">
<a href="{% url 'danceclub:dance_participate' e.id %}">Ilmoita joku muu</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="col-xs-6">
            <a href="{% url 'danceclub:participate' %}?no_redirect">Halusitko ilmoittautua toimintaan?</a>
            </div>
            <div class="col-xs-6">
            <a href="{% page_url 'contact' %}">Lähetä viestiä jos ei onnistu tai haluat ilmoittautua myöhässä</a>
            </div>
        </div>
    </section>
</section>
{% endblock %}
