{% extends "base.html" %}
{% load settings_tags %}
{% load cms_tags menu_tags %}

{% block base_content %}
<section class="section-title img-feature" >
    <div class="overlay-bg"></div>
    <div class="container">
        <h1>Maksutiedot</h1>
    </div>
</section>

<section class="content-info">
    
{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<section class="container padding-top-mini">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-box">
                <div class="titles">
                    <h4>{{ member }}
                    {% if member.is_dancer %}
                    <a href="{% url 'danceclub:member_edit' pk=member.pk %}">Muokkaa tietoja</a>
                    {% endif %}
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
{% if transactions %}
{% if saldo < 0 %}
{{saldo}} &euro;
{% else %}
Ei maksettavaa
{% endif %} <small>(viitemaksut tarkistettu: {{ last_check }})</small>
<table class="table">
    {% for tr in transactions %}
    <tr>
        <td>
        {{ tr.created_at }}
        </td>
        <td>
            {% if saldo < 0 %}
        {{ tr.amount }} &euro;
            {% endif %}
        </td>
        <td>
        {{ tr.title }}
        </td>
        <td>
        {% if tr.cancel and saldo < 0 %}
        <form method="POST" action="{% url 'danceclub:cancel' %}">
            {% csrf_token %}
            {{ tr.cancel.as_p }}
            <button type="submit">Peru</button>
        </form>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

    {% if saldo < 0 %}
<div class="accrodation alert alert-info">
    <span class="acc-trigger active">
        <a href="#">Tilisiirto</a>
    </span>
    <span class="acc-container">
        Maksa tilille: {% settings "bank_account" %}<br/>
        Käytä viitettä: {{ member.reference_numbers.first.number }}
       <br/><br/>
        Virtuaaliviivakoodi: {{ barcode }}
    </span>
    <span class="acc-trigger">
        <a href="#">E-Passi</a>
    </span>
    <span class="acc-container">
        <ul>
            <li>Kirjaudu sisään omilla tunnuksillasi <a target="_blank" href="https://services.epassi.fi/">www.epassi.fi</a></li>
            <li>Valitse verkkomaksut</li>
            <li>Aloita kirjoittamalla valikkoon "Tanssiklubi DANCING ry". Kun järjestelmä löytää sen, valitse toimipiste ja paina "Seuraava"</li>
            <li>Kirjoita summa euroissa: {% widthratio saldo 1 -1 %}</li>
            <li>Kirjoita viitteeksi: {{ member.reference_numbers.first.number }}</li>
            <li>Paina "Maksa"</li>
        </ul>
    </span>
</div>
    {% endif %}

{% else %}
Ei ilmoittautumisia kaudelle {{ season }}.
Ole hyvä ja <a href="{% page_url "participate" %}">ilmoittaudu</a>.
{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
{% endblock %}