{% load dancing_tags %}

{% if events %}
{% for e in events %}
    <li>
        <div class="header-post">
            <div class="date">
                <span>
                    {{ e.start|date:"Y" }}
                </span>
                    {{ e.start|date:"D" }}<br/>{{ e.start|date:"j.n." }}
            </div>
            <div style="height: 124px; background-color: {{ e.who|to_color }};"></div>
            <div class="meta-tag">
                <ul>
                    <li>
                        <i class="fa fa-user"></i>
                        {{ e.who }}
                    </li>
                    <li class="text-right">
                        ilm. viim.
                        {{ e.deadline|date:"j.n. H:i" }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="info-post">
            <h4>{{ e.start|date:"H:i" }} - {{ e.end|date:"H:i" }}</h4>
            {% if e.public %}
            <p>Voit varata itsellesi ammattivalmentajan tämän yksityistunnin, vaikka et olisi seuran jäsen.</p>
            {% else %}
            <p>Tämä tunti ei näy ulkopuolisille. {% if e.public_since %} Se tulee näkyviin {{ e.public_since }} {% endif %}</p>
            {% endif %}
            <p><a href="{% url 'dance_participate' e.id %}">Varaukseen <i class="fa fa-long-arrow-right"></i></a></p>
        </div>
    </li>
{% endfor %}
{% elif request.user.is_authenticated %}
<h3 style="color: white;">Tässä näytetään vain vapaat yksärit seuraavalta neljältä päivältä</h3>
{% else %}
<h3 style="color: white;">Ei vapaita yksäreitä tällä hetkellä!</h3>
{% endif %}