{% load sekizai_tags cms_tags %}
{% addtoblock "js" %}
<script type="text/javascript">
$('#event-one').countdown('{{ own.date|date:"Y-m-d" }} {{ own.start|time:"H:i" }}', function(event) {
  var $this = $(this).html(event.strftime(''
  + '<span>%D <br> <small>pv</small></span>  '
  + '<span>%H <br> <small>h</small> </span>  '
  + '<span>%M <br> <small>m</small> </span>  '
  + '<span>%S <br> <small>s</small></span> '));
});
</script>
{% endaddtoblock %}
<div class="title-color text-center">
    <h4>{{ own.name }}</h4>
</div>
<div class="content-counter content-counter-home">
    <p class="text-center">
        <i class="fa fa-clock-o"></i>
        Kilpailu starttaa...
    </p>
    <div id="event-one" class="counter">
        Kilpailut ohi!
    </div>
    <ul class="post-options">
        <li>
            <i class="fa fa-calendar"></i>
            {{ own.date }}
        </li>
        <li>
            <i class="fa fa-clock-o"></i>
            {{ own.start }}
        </li>
    </ul>
    <p>{% render_placeholder instance.description %}</p>
    <a class="btn btn-primary" href="{{ own.get_absolute_url }}">
        Kilpailusivulle...
        <i class="fa fa-trophy"></i>
    </a>
</div>