{% extends "cmsplugin_newsplus/news_base.html" %}
{% load cms_tags menu_tags extra_cms_tags %}

{% block news_content %}
    <div class="titles">
        <h4>{{ object.title }}</h4>
    </div>
    <div class="post-item single-news">
        <div class="row">
            <div class="col-md-12">
                <p class="data-info">{{ object.pub_date }}</p>
                {% if object.images.count %}
                <div id="carousel-news" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in object.images.all %}
                        <li data-target="#carousel-news" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %} class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for image in object.images.all %}
                        <div class="item{% if forloop.counter0 == 0 %} active{% endif %}">
                            <img src="{{ image.image.url }}"/>
                        </div>
                        {% endfor %}
                    </div>
                      <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="col-md-12 padding-top-mini">
                {{ object.content|safe }}
            </div>
        </div>
    </div>
{% endblock %}
