{% extends "cmsplugin_newsplus/news_base.html" %}
{% load cms_tags menu_tags extra_cms_tags %}

{% block news_content %}
    <div class="titles">
        <h4>{{ object.title }}</h4>
    </div>
    <div class="post-item single-news">
        <div class="row">
            <div class="col-md-12">
                <p class="data-info">{{ object.pub_date }}</p>
            </div>
            <div class="col-md-12 padding-top-mini">
                {{ object.content|safe }}
            </div>
        </div>
    </div>
{% endblock %}
