{% load cms_tags menu_tags extra_cms_tags sekizai_tags %}
<section class="section-title"
        {% if request.current_page.titleimageextension %}
         style="background: transparent url('{{ request.current_page.titleimageextension.title_image.url }}') repeat scroll center center / cover;"
        {% endif %}
         style=""
>
    <div class="overlay-bg"></div>
    <div class="container">
        <h1>{% placeholder page_title or %}{% page_attribute "page_title" %} {% endplaceholder %}</h1>
    </div>
</section>
