{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles %}

{% block base_content %}
    <section id="slide" class="camera_wrap camera_white_skin">
    {% placeholder "home_slides" %}
    </section>

    <section class="content-info">
        
    <div class="semiboxshadow text-center">
        <img src="{% static 'theme/img/img-theme/shp.png' %}" class="img-responsive" alt="">
    </div>
    <div class="bg-dark dark-home">
        <div class="row">
            <div class="col-md-9">
               <ul class="nav nav-tabs" id="myTab">
                   <li class="active">
                       <a href="#players-staff" data-toggle="tab">HARRASTUKSET</a>
                   </li>
                   {% if request.user.is_authenticated %}
                   <li>
                       <a href="#feature-news" data-toggle="tab">VAPAAT YKSÄRIT</a>
                   </li>
                   {% endif %}
               </ul> 
               <div class="tab-content">
                   <div id="players-staff" class="tab-pane active">
                       <h3>Harrastukset</h3>
                       <ul id="players-carousel" class="players">
                           {% static_placeholder "activities" %}
                       </ul>
                   </div>
                   {% if request.user.is_authenticated %}
                   <div id="feature-news" class="tab-pane">
                       <ul id="events-carousel" class="events-carousel padding-top">
                           {% placeholder "possible_events" %}
                       </ul>
                       <a href="{% url 'dance_events' %}">Lisää tunteja "Ilmoittaudu"-linkin takana</a>
                   </div>
                   {% endif %}
               </div>
            </div>
            <div class="col-md-3">
                <aside>
                    {% placeholder "next_competition" %}
                </aside>
            </div>
        </div>
    </div>
        
    <div class="container padding-top">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-7">
                <div class="panel-box">
                    {% placeholder "home_news" %}
                </div>
            </div>
        </div>
    </div>


    <aside class="section-wide">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Meillä käy</h2>
                    </div>
                    <ul id="support" class="tooltip-hover">
                        <li style="text-align: center" data-toggle="tooltip" title data-original-title="Smartum">
                            <a href="#"><img height="90" src="{% static "img/smartum5.jpg" %}" alt="Smartum"/></a>
                        </li>
                        <li style="text-align: center" data-toggle="tooltip" title data-original-title="Smartum">
                            <a href="#"><img height="90" src="{% static "img/smartum4.jpg" %}" alt="Smartum"/></a>
                        </li>
                        <li style="text-align: center" data-toggle="tooltip" title data-original-title="Smartum">
                            <a href="#"><img height="90" src="{% static "img/smartum_card.jpg" %}" alt="Smartum"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    
    </section>
{% endblock %}
