<!-- Item Slide - Caption -->
<div  data-src="{{ instance.slide_image.url }}">
    <div class="style-caption fadeFromTop">
        <div class="overlay-bg"></div>
         <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="animated fadeInRight">
                        {{ instance.slide_title }}
                    </h1>
                    <p class="animated fadeInRight delay1">
                        {{ instance.slide_text }}
                    </p>
                    <div class="more animated fadeInRight delay2">
                        <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Item Slide - Caption  -->
