{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles %}

{% block base_content %}
    <section id="slide" class="camera_wrap camera_white_skin">
    {% placeholder "home_slides" %}
    </section>

    <div class="container padding-top">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-7">
                <div class="panel-box">
                    {% placeholder "home_news" %}
                </div>
            </div>
        </div>
    </div>


    <aside class="section-wide">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Meillä käy</h2>
                    </div>
                    <ul id="support" class="tooltip-hover">
                        <li data-toggle="tooltip" title data-original-title="Smartum">
                            <a href="#"><img height="90" src="{% static "img/smartum5.jpg" %}" alt="Smartum"/></a>
                        </li>
                        <li data-toggle="tooltip" title data-original-title="Smartum">
                            <a href="#"><img height="90" src="{% static "img/smartum4.jpg" %}" alt="Smartum"/></a>
                        </li>
                        <li data-toggle="tooltip" title data-original-title="Smartum">
                            <a href="#"><img height="90" src="{% static "img/smartum_card.jpg" %}" alt="Smartum"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}
