{% extends "base.html" %}
{% load cms_tags menu_tags extra_cms_tags sekizai_tags staticfiles %}

{% block base_content %}
    <section class="section-title img-feature" >
        <div class="overlay-bg"></div>
        <div class="container">
            <h1>{% placeholder page_title %}</h1>
        </div>
    </section>

    <section class="content-info">
        <div class="crumbs">
            <div class="container">
                <ul>
                    {% show_breadcrumb %}
                </ul>
            </div>
        </div>

        <div id="map"></div>

        <section class="container padding-top">
            <div class="row">
                <div class="col-md-4">
                    <aside class="panel-box">
                            <div class="titles">
                                <h4>Seura</h4>
                            </div>
                            <address>
                                <strong>Tanssiklubi Dancing ry</strong><br>
                                <i class="fa fa-map-marker"></i><strong>Osoite: </strong> Vesijärvenkatu 30, 15140 Lahti<br>
                                <i class="fa fa-envelope"></i><strong>Sähköposti: </strong>johtokunta(at)dancing.fi<br>

                            </address>
                    </aside>
                    <aside class="panel-box">
                        <div class="titles">
                            <h4>Muut sähköpostit</h4>
                        </div>
                        <address>
                            <i class="fa fa-envelope"></i><strong>Sihteeri: </strong>sihteeri(at)dancing.fi<br>
                            <i class="fa fa-envelope"></i><strong>Kilpailuasiat: </strong>kilpailu(at)dancing.fi<br>

                        </address>
                    </aside>
                </div>
            </div>
        </section>
    </section>
    {% addtoblock "js" %}
      <!-- Maps -->
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="{% static "theme/js/maps/gmap3.js" %}"></script>

        <script type="text/javascript">

        // Map Markers
        var mapMarkers = [{
        address: "Vesijärvenkatu 30, 15140 Lahti",
        html: "<strong>Tanssiklubi Dancing</strong>",
        icon: {
            image: "img/img-theme/pin.png",
            iconsize: [26, 46],
            iconanchor: [12, 46]
            }
        }];

        // Map Initial Location
        var initLatitude = 60.98451;
        var initLongitude = 25.6556818;

        // Map Extended Settings
        var mapSettings = {
        controls: {
        panControl: true,
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: true,
        streetViewControl: true,
        overviewMapControl: true
        },
        scrollwheel: false,
        markers: mapMarkers,
        latitude: initLatitude,
        longitude: initLongitude,
        zoom: 14
        };

        $("#map").gMap(mapSettings);
        </script>
    {% endaddtoblock %}
{% endblock %}
