{% extends "base.html" %}
{% load cms_tags menu_tags extra_cms_tags sekizai_tags %}

{% block base_content %}
{% addtoblock "js" %}
<script type="text/javascript">
   $("#main-carousel").owlCarousel({
       autoPlay: 3200,
       items : 4,
       navigation: false,
       itemsDesktopSmall : [1024,3],
       itemsTablet : [768,3],
       itemsMobile : [600,2],
       pagination: true
   });
</script>
{% endaddtoblock "js" %}
    {% include "_page_title.html" %}

    <section class="content-info">
        <div class="crumbs">
            <div class="container">
                <ul>
                    {% show_breadcrumb %}
                </ul>
            </div>
        </div>
        <section class="container padding-top-mini">
            <div class="row">
                {% get_placeholder "page_sidebar" as sidebar %}
                <div class="{% if sidebar %}col-md-8{% else %}col-md-12{% endif %}">
                    <div class="panel-box">
                        {% get_placeholder "page_subtitle" as subtitle_ph %}
                        {% if subtitle_ph %}
                        <div class="titles">
                            <h4>{% placeholder page_subtitle %}</h4>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                {% placeholder text %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if sidebar %}
                <div class="col-md-4">
                    {% placeholder page_sidebar %}
                </div>
                {% endif %}
            </div>
        </section>
    </section>
{% endblock %}
