{% extends "base.html" %}
{% load sekizai_tags %}

{% block base_content %}

{% addtoblock "css" %}
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>
{% endaddtoblock %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}" class="form-signin">
{% csrf_token %}
<h2 class="form-signin-heading">Kirjaudu sisään</h2>
<label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label }}</label>
<input name="{{ form.username.html_name }}" type="text" id="{{ form.username.id_for_label }}" class="form-control" placeholder="{{ form.username.label }}" required autofocus>
<label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
<input name="{{ form.password.html_name }}" type="password" id="{{ form.password.id_for_label }}" class="form-control" placeholder="{{ form.password.label }}" required>

<button class="btn btn-lg btn-primary btn-block" type="submit">Kirjaudu</button>
<p><a href="{% url 'password_reset' %}">Hävititkö salasanan?</a></p>
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}