{% load danceclub_tags dancing_tags %}

<h1>{{ competition.name }}</h1>

{% regroup participations by club as parts %}

<table style="border-collapse: collapse; ">
{% for p in parts %}
    <tr>
    <th style="text-align: left;" colspan="2">
    <strong>{{ p.grouper }}</strong>
    </th>
    
    <th style="padding-left: 10px; text-align: left">{% with amnt=p.list|length %}{{ amnt }}</th>
    </tr>
    
    {% if not request.GET.manual %}
    {% for pp in p.list %}
        <tr style="
        {% if request.GET.paid %}
        border-bottom: 1px solid black;
        {% endif %}
        {% if request.GET.paid == 'strike' and pp.paid %}
        text-decoration: line-through;
        {% endif %}
        ">
            <td style="text-align: right; padding-right: 10px">{{ pp.number }}</td>
            <td style="padding-right: 40px;">
            {{ pp.man }} - {{ pp.woman }}</td>
            
            <td>
            {% for l in pp.levels %}
                {% if not forloop.first %}
                ,
                {% endif %}
                {{ l|agelevel }}
            {% endfor %}
            </td>
            {% if request.GET.paid and request.GET.paid != 'strike' %}
            <td>{% if pp.paid %}MAKSANUT!{% endif %}</td>
            {% endif %}
        </tr>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <tr><td style="height: 30px">&nbsp;</td></tr>
    
{% endfor %}
</table>